{%extends "pages/base.html"%} {%block title%} {{collection}} {%endblock%}
{%block content%}
<section class="text-gray-600 body-font">
   <div class="w-full text-left ml-28">
      <nav aria-label="breadcrumb" class="block w-full">
         <ol
            class="flex w-full flex-wrap items-center rounded-md bg-blue-gray-50 bg-opacity-60 py-2 px-4">
            <li
               class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500 hover:fill-pink-500">
               <a class="opacity-60" href="{% url 'home' %}">
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     x="0px"
                     y="0px"
                     width="16"
                     height="16"
                     color="currentColor"
                     viewBox="0 0 48 48">
                     <path
                        d="M 23.951172 4 A 1.50015 1.50015 0 0 0 23.072266 4.3222656 L 8.859375 15.519531 C 7.0554772 16.941163 6 19.113506 6 21.410156 L 6 40.5 C 6 41.863594 7.1364058 43 8.5 43 L 18.5 43 C 19.863594 43 21 41.863594 21 40.5 L 21 30.5 C 21 30.204955 21.204955 30 21.5 30 L 26.5 30 C 26.795045 30 27 30.204955 27 30.5 L 27 40.5 C 27 41.863594 28.136406 43 29.5 43 L 39.5 43 C 40.863594 43 42 41.863594 42 40.5 L 42 21.410156 C 42 19.113506 40.944523 16.941163 39.140625 15.519531 L 24.927734 4.3222656 A 1.50015 1.50015 0 0 0 23.951172 4 z M 24 7.4101562 L 37.285156 17.876953 C 38.369258 18.731322 39 20.030807 39 21.410156 L 39 40 L 30 40 L 30 30.5 C 30 28.585045 28.414955 27 26.5 27 L 21.5 27 C 19.585045 27 18 28.585045 18 30.5 L 18 40 L 9 40 L 9 21.410156 C 9 20.030807 9.6307412 18.731322 10.714844 17.876953 L 24 7.4101562 z"></path>
                  </svg>
               </a>
               <span
                  class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
                  /
               </span>
            </li>
            <li
               class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
               <a
                  class="font-medium text-blue-gray-900 transition-colors hover:text-pink-500"
                  href="{% url 'collection' collection.id %}">
                  Collection
               </a>
               <span
                  class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
                  /
               </span>
            </li>
            <li
               class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
               <a
                  class="font-medium text-blue-gray-900 transition-colors hover:text-pink-500"
                  href="{% url 'collection' collection.id %}">
                  {{collection.name}}
               </a>
            </li>
         </ol>
      </nav>
   </div>
   <div class="container px-5 py-24 mx-auto">
      {% if blogs %}
      <div class="flex flex-col text-center w-full mb-20">
         <h1
            class="text-2xl font-medium title-font mb-4 text-gray-900 uppercase">
            {{collection}}
         </h1>
         <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            Những blog thuộc {{collection}}
         </p>
      </div>
      <div class="flex flex-wrap -m-4">
         {% for blog in blogs %}
         <div class="p-4 lg:w-1/4 md:w-1/2">
            <div class="h-full flex flex-col items-center text-center">
               <img
                  alt="team"
                  class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
                  src="{{blog.image.url}}" />
               <div class="w-full">
                  <h2
                     class="title-font font-medium text-lg text-gray-900 line-clamp-1">
                     {{blog.title}}
                  </h2>
                  <h3 class="text-gray-500 mb-3">
                     {{blog.userid.firstname}} {{blog.userid.lastname}}
                  </h3>
                  <p class="mb-4 line-clamp-2">
                     {{blog.content|safe|truncatechars:160}}
                  </p>
                  <span class="inline-flex">
                     <a href="/blog/{{blog.id}}" class="text-indigo-500"
                        >Xem thêm</a
                     >
                  </span>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      {% else %}
      <div class="flex flex-col text-center w-full mb-20">
         <h1
            class="text-2xl font-medium title-font mb-4 text-gray-900 uppercase">
            Không tìm thấy bài viết
         </h1>
         <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            Không tìm thấy bài viết nào thuộc {{collection}}
         </p>
      </div>
      {% endif %}
   </div>
</section>
{%endblock%}
